@use "colors";
@use "breakpoints";

.footer {
  background: #90d4c5;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f7666;

  .footer__logo {
    width: 170px;
    height: 34px;
    filter: brightness(0%) invert(32%) sepia(63%) saturate(402%)
      hue-rotate(118deg) brightness(98%) contrast(87%);
  }

  .footer__link_list {
    display: flex;
    gap: 60px;
    margin-top: 43px;
  }

  .footer__link_list_item:hover {
    color: colors.$white;
    cursor: pointer;
  }

  .footer__icon_list {
    display: flex;
    gap: 24px;
    margin-top: 86px;
  }

  .footer__icon_list_item:hover {
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
}
