@use "colors";
@use "breakpoints";

header {
  background: url("images/desktop/image-header.jpg") bottom no-repeat, #3ebfff;
  background-size: 1280px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoints.sm {
    height: 540px;
    background-size: 800px;
  }

  .header__heading {
    margin-top: 230px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 60px;
    color: colors.$white;
    letter-spacing: 12px;
    font-weight: 900;
    text-align: center;

    @include breakpoints.sm {
      font-size: 36px;
      margin-top: 150px;
    }
  }

  .header__arrow {
    margin-top: 120px;
    width: 40px;
    height: 125px;

    @include breakpoints.sm {
      margin-top: 55px;
    }
  }
}
